.company {
  .row {
    row-gap: 20px;
  }
  
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;

    &-title {
      font-family: Kanit Cyrillic;
      font-size: 50px;
      font-weight: 400;
      line-height: 52.05px;
      text-align: left;
      
      @media (max-width: 1200px) {
        font-size: 40px;
        line-height: 42px;
      }

      @media (max-width: 768px) {
        font-size: 36px;
        line-height: 38px;
      }

      @media (max-width: 576px) {
        font-size: 28px;
        line-height: 30px;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      column-gap: 20px;

      button {
        border: none;
        background: #9b2821;
        color: #fff;
        border-radius: 10px;
        padding: 10px 20px;

        @media (max-width: 1200px) {
          padding: 9px 18px;
        }

        @media (max-width: 768px) {
          padding: 8px 16px;
        }

        @media (max-width: 576px) {
          padding: 6px 12px;
        }
      }
    }

    &-first {
      padding: 9px 37px;

      img {
        width: 26px;
        height: 26px;

        @media (max-width: 1200px) {
          width: 22px;
          height: 22px;
        }

        @media (max-width: 768px) {
          width: 20px;
          height: 20px;
        }
      }
    }

    &-last {
      padding: 16px 67px;

      @media (max-width: 1200px) {
        padding: 14px 30px;
      }

      @media (max-width: 768px) {
        padding: 12px 20px;
      }
    }
  }

  &__content {
    border: 0.5px solid #af251c;
    border-radius: 20px;
    padding: 22px;

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 55px;
        height: 55px;

        @media (max-width: 1200px) {
          width: 50px;
          height: 50px;
        }

        @media (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }

      div {
        display: flex;
        align-items: center;
        column-gap: 15px;
      }
    }

    &-title {
      font-family: PP Neue Machina;
      font-size: 18px;
      font-weight: 800;
      line-height: 17.37px;
      text-align: left;

      @media (max-width: 1200px) {
        font-size: 16px;
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }

      @media (max-width: 576px) {
        font-size: 12px;
      }
    }

    &-status {
      font-family: PP Neue Machina;
      font-size: 16px;
      font-weight: 800;
      line-height: 15.44px;
      text-align: left;

      @media (max-width: 1200px) {
        font-size: 14px;
      }

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    &-img {
      margin-top: 15px;
      width: 100%;

      @media (max-width: 768px) {
        margin-top: 10px;
      }
    }
  }

  &__none {
    width: max-content;

    &-text {
      font-family: PP Neue Machina;
      font-size: 20px;
      font-weight: 400;
      line-height: 19.3px;
      text-align: left;
      margin-bottom: 50px;

      @media (max-width: 1200px) {
        font-size: 18px;
        margin-bottom: 40px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
        margin-bottom: 30px;
      }

      @media (max-width: 576px) {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    img {
      width: 187px;
      height: 204px;
      margin: 0 auto;
      display: block;

      @media (max-width: 1200px) {
        width: 160px;
        height: auto;
      }

      @media (max-width: 768px) {
        width: 140px;
      }

      @media (max-width: 576px) {
        width: 120px;
      }
    }
  }
}
