.feedback {
  padding-top: 20px;
  .faq {
    background-color: #fff;
    color: #000;
    padding-bottom: 0;
    padding-top: 0;
    // * {
    //   color: #000;
    // }
    &__item {
      border-bottom: 1px solid #000;
    }
    &__title {
      display: none;
    }
  }
}
